/* general body css */
body {
    background-color: #000;
    background-image: url("bbblurry2.svg");
    background-repeat: no-repeat;
    font-family: 'Roboto Mono', monospace;
    color: #000;
    font-weight: bold;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

/* container css setting up flexbox */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
    position: relative;
}

/* reusable css for multiple webpages */
.login-box,.error-div,.login-card {
    display: flex;
    min-height: 420px;
    min-width: 280px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(162, 1, 249, 0);
    border-radius: 10px;
    box-shadow: 0px 3px 6px 0px rgb(0, 0, 0, 0.75);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.568);
    border-width: 1.5px;
    flex-wrap: wrap;
    margin: 10px;
    z-index: 1;
}

/* placeholder text in different web browser */
::placeholder {
  font-weight: bolder;
}
:-ms-input-placeholder {  
  font-weight: bolder;
}

/* adjusting links margins and color */
.a {
  margin: 2px;
}
a:link,a:visited,a:hover,a:active {
    color: #58f901;
    margin-bottom: 3px;
}

/* adjusting error divs for error page  */
.error-div {
    padding: 10px;
}
.error-paragraph {
    font-weight: bolder;
}

/* general input css */
#username,#password,#username-signup,#password-signup {
    min-width: 120px;
    margin: 3px;
    padding: 0.5em;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    color: #000000;
    transition: 0.4s;
} 

/* remember me section css (p tag and checkmark) */
.remember {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    font-weight: bolder;
}
#check {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    cursor: pointer;
}

/* general button css */
#login-button,#back-button,#signup-button {
    min-width: 60px;
    width: 100px;
    margin: 3px;
    padding: 0.5em;
    padding-left: 0.9em;
    padding-right: 0.9em;
    border-radius: 10px;
    cursor: pointer;
}

/* progress bar and strength text css - followed a tutorial from Frontend Joe */
#bars {
    margin: 8px 0;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 6px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);
  }
  #bars div {
    height: 6px;
    border-radius: 3px;
    transition: 0.4s;
    width: 0%;
  } 
  #bars.weak div {
    background: #bc2b38;
    width: 33.33%;
  }
  #bars.medium div {
    background: #d36f30;
    width: 66.66%;
  }
  #bars.strong div {
    background: #1eb965;
    width: 100%;
  }
  .strength {
    text-align: left;
    height: 30px;
    text-transform: capitalize;
  }

  /* Button animation - followed along with a tutorial, I did change how the button looks (don't remember which one) */
.btn {
  padding: 0.8em 1.8em;
  border: 2px solid #58f901;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #58f901;
  font-weight: bolder;
} 
.btn::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #58f901;
  transition: .5s ease;
  display: block;
  z-index: -1;
}
.btn:hover::before {
  width: 105%;
}  
.btn:hover {
  color: #111;
  font-weight: bolder;
}

 /* input animation - followed along with a tutorial, I did change a bunch of things (don't remember which one, same guy from above button code) */
 .form-control {
  position: relative;
  margin: 12px 0 12px;
  width: 190px;
}
.form-control input {
  font-size: 16px;
}
.form-control input:focus,
.form-control input:valid {
  outline: 0;
}
.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}
.form-control label span {
  display: inline-block;
  font-size: 12px;
  font-weight: bolder;
  min-width: 5px;
  color: black;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-control input:focus+label span,
.form-control input:valid+label span {
  color: #58f901;
  transform: translateY(-30px);
}

