* {
    box-sizing: border-box;
  }
  
html,
body {
  height: 100%;
}
@keyframes rotate {
    100% {
      background-position: 0% 50%;
    }
  }
body {
    background-color: #000;
    background-image: url("bbblurry (1).svg");
    background-repeat: no-repeat;
    background-size: 200vh;
    font-family: 'Roboto Mono', monospace;
    color: #000;
    font-weight: bold;
}

a:link {
    color: #58f901;
}

a:visited {
    color: #58f901;
  }
  
  a:hover {
    color: #58f901;
  }
  
  a:active {
    color: #58f901;
  }

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
    position: relative;
}


.login-box,.error-div {
    display: flex;
    min-height: 420px;
    min-width: 300px;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(95, 158, 160, 0);
    border-radius: 20%;
    box-shadow: 0px 3px 3px 0px rgb(0, 0, 0, 0.75);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.568);
    border-width: 1.5px;
    flex-wrap: wrap;
    z-index: 1;
}

.error-div {
    padding: 10px;
}

.error-paragraph {
    font-weight: bolder;
}

#user-img {
    min-width: 100px;
    width: 120px;
    margin: 0.3em;
    padding: 0.5em;
    
}

#username,#password {
    min-width: 120px;
    margin: 5px;
    padding: 0.5em;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    color: #000000;
    transition: 0.4s;
} 

.remember {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    font-weight: bolder;
}

#check {
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

#login-button,#back-button,#signup-button {
    min-width: 60px;
    width: 80px;
    margin: 3px;
    padding: 0.5em;
    padding-left: 0.9em;
    padding-right: 0.9em;
    border-radius: 1em;
    cursor: pointer;
}


@media (any-hover:hover) {
    #login-button:hover,#back-btn:hover,#signup-button:hover{
        background-color: lightsteelblue;
    }
}

.indicator {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

#bars {
    margin: 8px 0;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 6px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);
  }
  
  #bars div {
    height: 6px;
    border-radius: 3px;
    transition: 0.4s;
    width: 0%;
  }
  
  #bars.weak div {
    background: #bc2b38;
    width: 33.33%;
  }
  
  #bars.medium div {
    background: #d36f30;
    width: 66.66%;
  }
  
  #bars.strong div {
    background: #1eb965;
    width: 100%;
  }
  
  .strength {
    text-align: left;
    height: 30px;
    text-transform: capitalize;
  }